<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardtype_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{49,29}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{1,32},{49,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{52,96},{49,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,29}</string>
                <key>spriteSourceSize</key>
                <string>{70,29}</string>
                <key>textureRect</key>
                <string>{{1,162},{70,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{49,29}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{52,1},{49,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,29}</string>
                <key>spriteSourceSize</key>
                <string>{92,29}</string>
                <key>textureRect</key>
                <string>{{1,193},{92,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{52,129},{49,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{1,96},{49,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{52,63},{49,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{49,29}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{1,63},{49,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{49,29}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{52,32},{49,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{1,129},{49,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardType_settle.png</string>
            <key>size</key>
            <string>{102,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f51dc2ae362e5482ca51f6ebda4eab2:e2e89f9904ff2df5eb5a66faede8acbf:63b16f9ef7753d6376eeaeb955809fbc$</string>
            <key>textureFileName</key>
            <string>cardType_settle.png</string>
        </dict>
    </dict>
</plist>
