<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{76,31}</string>
                <key>textureRect</key>
                <string>{{80,163},{76,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,29}</string>
                <key>spriteSourceSize</key>
                <string>{75,29}</string>
                <key>textureRect</key>
                <string>{{1,262},{75,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,31}</string>
                <key>spriteSourceSize</key>
                <string>{77,31}</string>
                <key>textureRect</key>
                <string>{{1,163},{77,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,30}</string>
                <key>textureRect</key>
                <string>{{1,67},{100,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{76,31}</string>
                <key>textureRect</key>
                <string>{{1,196},{76,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,30}</string>
                <key>textureRect</key>
                <string>{{1,293},{53,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,30}</string>
                <key>textureRect</key>
                <string>{{56,293},{53,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,30}</string>
                <key>textureRect</key>
                <string>{{1,99},{100,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,31}</string>
                <key>spriteSourceSize</key>
                <string>{100,31}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>423.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,30}</string>
                <key>textureRect</key>
                <string>{{1,131},{100,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>424.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,31}</string>
                <key>spriteSourceSize</key>
                <string>{100,31}</string>
                <key>textureRect</key>
                <string>{{1,34},{100,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>425.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{76,31}</string>
                <key>textureRect</key>
                <string>{{1,229},{76,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>526.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{79,241},{49,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>specialCard_settle.png</string>
            <key>size</key>
            <string>{112,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4571f3a4a471e272d79b7f80e3f8300e:9802bdb1fcda88f6aff26a1dfc9514a2:d7e79e69bf8211df6804bba81e60b6e4$</string>
            <key>textureFileName</key>
            <string>specialCard_settle.png</string>
        </dict>
    </dict>
</plist>
