<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>voice_anim.png1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{114,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,168}}</string>
                <key>sourceSize</key>
                <string>{114,168}</string>
            </dict>
            <key>voice_anim.png2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{114,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,167}}</string>
                <key>sourceSize</key>
                <string>{114,167}</string>
            </dict>
            <key>voice_anim.png3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,165}}</string>
                <key>sourceSize</key>
                <string>{116,165}</string>
            </dict>
            <key>voice_anim.png4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{111,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,167}}</string>
                <key>sourceSize</key>
                <string>{111,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>voice.png</string>
            <key>size</key>
            <string>{120,677}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e63db4945072e17aff1925b73c3b31d7$</string>
            <key>textureFileName</key>
            <string>voice.png</string>
        </dict>
    </dict>
</plist>
