<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardtype_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,57}</string>
                <key>spriteSourceSize</key>
                <string>{156,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,55}</string>
                <key>spriteSourceSize</key>
                <string>{156,57}</string>
                <key>textureRect</key>
                <string>{{159,1},{156,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,53}</string>
                <key>spriteSourceSize</key>
                <string>{156,57}</string>
                <key>textureRect</key>
                <string>{{159,172},{156,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,55}</string>
                <key>spriteSourceSize</key>
                <string>{156,57}</string>
                <key>textureRect</key>
                <string>{{317,1},{156,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,55}</string>
                <key>spriteSourceSize</key>
                <string>{156,57}</string>
                <key>textureRect</key>
                <string>{{1,119},{156,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,55}</string>
                <key>spriteSourceSize</key>
                <string>{156,57}</string>
                <key>textureRect</key>
                <string>{{159,58},{156,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,55}</string>
                <key>spriteSourceSize</key>
                <string>{156,57}</string>
                <key>textureRect</key>
                <string>{{317,58},{156,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,55}</string>
                <key>spriteSourceSize</key>
                <string>{156,57}</string>
                <key>textureRect</key>
                <string>{{159,115},{156,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,49}</string>
                <key>spriteSourceSize</key>
                <string>{156,57}</string>
                <key>textureRect</key>
                <string>{{1,176},{156,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,53}</string>
                <key>spriteSourceSize</key>
                <string>{156,57}</string>
                <key>textureRect</key>
                <string>{{317,172},{156,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{156,55}</string>
                <key>spriteSourceSize</key>
                <string>{156,57}</string>
                <key>textureRect</key>
                <string>{{317,115},{156,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardtype_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,57}</string>
                <key>spriteSourceSize</key>
                <string>{156,57}</string>
                <key>textureRect</key>
                <string>{{1,60},{156,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardType_desk.png</string>
            <key>size</key>
            <string>{474,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0d830711ea3ccecd48809718d8a5891:9651b456f0e56a9f6fe32eb8fa61d8e0:2d464a8bfb489fd8f95cfadee5cce66a$</string>
            <key>textureFileName</key>
            <string>cardType_desk.png</string>
        </dict>
    </dict>
</plist>
