<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bull1_0x00.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{114,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,152}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x00_1.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{626,592},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x00_2.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{470,592},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x00_4.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{314,592},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x01.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{470,474},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x02.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{626,356},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x03.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{782,238},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x04.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x05.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{782,120},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x06.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{626,120},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x07.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{470,120},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x08.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{314,120},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x09.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{158,120},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x0a.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{158,592},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x0b.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x0c.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{782,474},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x0d.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{626,474},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x11.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x12.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x13.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x14.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x15.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x16.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x17.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x18.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x19.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{782,946},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x1a.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{314,474},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x1b.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{158,474},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x1c.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x1d.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{782,356},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x21.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{626,946},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x22.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{470,946},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x23.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{314,946},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x24.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{158,946},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x25.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x26.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{782,828},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x27.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{626,828},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x28.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{470,828},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x29.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{314,828},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x2a.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{470,356},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x2b.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{314,356},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x2c.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{158,356},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x2d.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x31.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{158,828},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x32.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x33.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{782,710},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x34.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{626,710},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x35.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{470,710},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x36.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{314,710},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x37.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{158,710},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x38.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x39.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{782,592},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x3a.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{626,238},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x3b.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{470,238},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x3c.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{314,238},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x3d.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{158,238},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,154}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x4e.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{112,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
            <key>bull1_0x4f.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{112,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{116,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker_myselfCards.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1019845a32f8c9042710454cf3c90d5f$</string>
            <key>textureFileName</key>
            <string>poker_myselfCards.png</string>
        </dict>
    </dict>
</plist>
